.div001 {
  background-color: aqua;
  max-width: 1280px;
  margin: 0 auto;
  height: 800px;
}

.div002 {
  background-color: orange;
  width: 100%;
  height: 200px;
}

.div003 {
  background-color: blueviolet;
  width: 50%;
  height: 200px;
}

.div004 {
  background-color: azure;
  width: 50%;
  height: 50px;
}
